.loginSignUp{
    width: 100%;
    height: 115vh;
    background: #fce3fe;
    /* padding-top: 100px; */
    padding-top: 70px;
    /* margin-bottom: 500px; */
}

.loginSignUp-container{
    width: 580px;
    border-radius: 40px;
    /* height: 0px; */
    background: white;
    margin: auto;
    padding: 20px 60px;
}
.loginSignUp-container h1{
    margin: 20px 0px;
}
.loginSignUp-fields{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}
.loginSignUp-fields input,select {
    /* height: 72px; */
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: px solid #c9c9c9;
    /* outline: none; */
    color:#5c5c5c;
    font-size:18px;
    border-radius: 30px;

}
.loginSignUp-container button{
    /* width: 580px; */
    width: 605px;
    border-radius: 40px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginSignUp-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginSignUp-login span{
    color: #ff4141;
    font-weight: 600;
}
.loginSignUp-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;
}